

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../assets/background.jpg");
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .luckiest-guy-regular {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
  }

.logo{
    width: 200px;
    height: 200px;
    border: white solid 6px;
    border-radius: 105px;
    margin-top: 6px;
}

ul{
    background-color: #162139;
    display:flex;
    flex-direction: row;
} 

button{
    font-family: "Luckiest Guy", serif;
    letter-spacing: 4px;
    font-size: xx-large;
    margin: 30px;
    width: 222px;
    height: 62px;
}

.card{
    font-family: "Luckiest Guy", serif;
    letter-spacing: 4px;
    background: #8DBAD7;
    color: white;
    width: 834px;
    height: 710px;
    justify-self: center;
    border-radius: 25px;
    font-size: 25px;
}

.moviereview{
    background: #8DBAD7;
    color: white;
    width: 834px;
    height: 710px;
    margin: 125px;
    justify-self: right;
    border-radius: 25px;
    font-size: 25px;
    
}

.imgholder{
    
}

.over{
    font-family: "Luckiest Guy", serif;
    letter-spacing: 4px;
    justify-self: left ;
    margin: 35px;
}


.WelcomeMessageLogo {
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.5); 
    border: white solid 2px;
    border-radius: 200px; 
}


  
  .nav{
    background-color: #172139;
  }
  
  .nav-button{
    background-color: #1974cf;
    color: white;
    border-radius: 25px;
    border: solid 5px white;
    
  }

  .Regclass{
    padding: -10px;
  }

  input{
    padding: 10px;
    border-radius: 25px;
    border: solid 3px white;
    background-color: #b4cede;
    width: 300px;
  }
